/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.color-changing-text {
  /* display: flex; */
  animation: colorChange 5s infinite linear;
}

@keyframes colorChange {
  0% { color: red; }
  20% { color: orange; }
  40% { color: yellow; }
  60% { color: green; }
  80% { color: blue; }
  100% { color: purple; }
}

.overlay {
  transform-origin: center;
}

.rotating-image:hover {
  transform: rotate(360deg); /* Rotates the image on hover */
}